
  @import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,900&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto" ,sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior:smooth ;
}