@import "color";

footer{
    background-color: $first;
    height: 200px;
    width: 100%;
    color: $dark;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 2rem;

    >div{
        display: flex;
        flex-direction: column;
        justify-content: center;
           > h1{
                text-transform: uppercase;
                font-size: 2.3rem;
                font-weight: bold;
                font-family: 'Courier New', Courier, monospace;
                text-shadow: 1px 1px 2px red;
              }
        
        >p{
            font: 500 1.2rem $text1;
        }
        
        >h5{
            
            font-size: 2.3rem;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            text-shadow: 1px 1px 2px red;

            margin: 1rem 0;
            // text-align: center;
        }
         >div{
            display: flex;
            flex-direction: column;
            align-items: center;
             
          
        }
    }
     
}
a {
    color: $dark;
    font: 900 1rem cursive;

    &:hover{
        color: $third;
    }

}