@import "color";

nav{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: $first;
    position: sticky;
    top :0%;
    z-index: 10;

    >h1{
        text-transform: uppercase;
        margin: 15px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2.5rem;
        text-shadow: 2px 2px 3px rgb(83, 74, 255);
    }
    >main{
        width: 70%;
        display: flex;
        justify-content: flex-end;
    }
     
  
    a {
       color: $dark;
       margin: 1rem;
       font-size: 1.3rem;
       

    //    &:hover{
    //     background-color: black;
    //     color: white;
        

       }
    }

