// @import "color";
@media screen and (max-width:820px) {

    nav > main>a{
       font-size: 1.1rem;

    }
    .home3{
        height: 130;
        >div{
            height: 120vh;
        }
    }
   

    .contact > main {
        width: 100%;
        height: 100vh;
        border-radius: 0%;
        h1{
            text-align: center;
        }
      }
    
} 

@media screen and (max-width:700px) {
    nav{
        >h1{
            display: none;
            
        }
        main{
            width: 100%;
            justify-content: center;

        }
        a{
            margin: 0.5rem;;
        }
    }

    .home > main{
        align-items: center;
        >h1{
            font-size:3rem;
        }
    }
    
    .home2{
        height: 220vh;
        flex-direction: column;
        img{
            width: 100%;
        }
         >div{
            width: 100%;
            >p{
                font: 100 1rem;
            }
        }
       

    }
    .home3{
        height: 120vh;
    > div{
        text-align: center;
        width: 100%;
        border-radius: 0%;
        h1{
            margin-top: 10.5rem;
        }

        p{
            padding: 5rem;
            font-size:  0.9rem;
            line-height: 150%;
            margin-top: -30px;
            
        }

    }
}

.home4{

        align-items: center;
        >div{
            border-radius: 0%;
            width: 100%;
            height: unset;
        }
    }
    .contact > main{
        padding: 1rem;
        h1{
            margin: 1rem;
        }
        >form{
            margin: 0%;
            >div{
                width: 100%;
            }
        }
    }
    footer{
        height: 50vh;
        grid-template-columns: 1fr;
        padding: 5rem;
        >div{
            align-items: center;
        }
        h1{
            margin-top: 5rem;
        }

    }
}
    
